html {
	background: url(http://3.bp.blogspot.com/-ntgY5VZzkp4/T8-aTXG_kzI/AAAAAAAAAHI/kuzWUHH0KDI/s1600/Level+one.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

.forms {
	display: flex;
	justify-content: center;

}

#buttonsContainer {
	width: 500px;
	display: flex;
	justify-content: space-between;
}
.buttons {
color: rgb(255, 255, 255);
font-size: 12px; 
line-height: 12px; 
padding: 6px; 
border-radius: 50px; 
font-family: monospace;, serif; 
background-color: black; 
box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
border: 2px solid grey 
display: inline-block;}
.buttons:hover {
background: grey; }
.buttons:active {
background: grey; }

#devo {
	height: 300px;
	width: 500px;
}
#fayde {
	height: 350px;
	width: 350px;
}
#glac {
	height: 250px;
	width: 200px;
}
#pyro {
	height: 350px;
	width:350px;
}
#soul {
	height: 400px;
	width: 350px;
}
#swift {
	height: 325px;
	width: 300px;
}















