html {
	background: url(http://3.bp.blogspot.com/-ntgY5VZzkp4/T8-aTXG_kzI/AAAAAAAAAHI/kuzWUHH0KDI/s1600/Level+one.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	/*margin: 1%;*/
}
h1 {
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 40px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;

}

h2 {
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 40px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;

}

#firstCharacter {
	display: inline-block;
	margin-bottom: 1%;
	margin-left: 19%;
}

#firstCharacter img{
	display: block;
	width: 250px;
	height: 250px;
}

#secondCharacter {
	display: inline-block;
	margin-bottom: 1%;
	margin-right: 8%;
	margin-left: 8%;
}

#secondCharacter img{
	display: block;
	width: 250px;
	height: 250px;
}

#thirdCharacter {
	display: inline-block;
	margin-bottom: 1%;
	margin-left: 1%;
	margin-right: 1%;
}

#thirdCharacter img{
	display: block;
	width: 250px;
	height: 250px;
}

#fourthCharacter {
	display: inline-block;
	margin-top: 1%;
	margin-left: 19%
}

#fourthCharacter img{
	display: block;
	width: 250px;
	height: 250px;
}

#fifthCharacter {
	display: inline-block;
	margin-top: 1%;
	margin-right: 8%;
	margin-left: 8%;
}

#fifthCharacter img{
	display: block;
	width: 250px;
	height: 250px;
}

#sixthCharacter {
	display: inline-block;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 10.5	%;
}

#sixthCharacter img{
	display: block;
	width: 250px;
	height: 250px;
}

#playOneChar {
	display: inline-block;
	width: 20%;
}
#playOneChar img{
	width: 350px;
	height: 350px;
}

#playTwoChar {
	display: inline-block;
	width: 20%;

}
#playTwoChar img{
	height: 350px;
	width: 350px ;
}

.charContainer {
	display: inline-block;
	/*align-items: baseline;*/
}

.forms {
	display: flex;
	justify-content: center;

}

.playerNames {
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;

}

#player2Name {
	text-align: right;
	margin-right: 150px;
}

#buttonsContainer {
	display: inline-block;
	justify-content: space-between;
}
#buttonsContainer2 {
	display: inline-block;
	justify-content: space-between;
	margin-left: 8%;

}

.inputButtons {
    background-color: lightgrey;
    font-family: 'Press Start 2P', cursive;
    margin: 3px;
    padding: 6px;
}

.submit-button {
	font-family: 'Press Start 2P', cursive;
	background-color: black;
	color: white;
	margin: 3px;
	padding: 6px;
}

.attack-buttons {
	font-family: 'Press Start 2P', cursive;
	color: rgb(255, 255, 255);
	font-size: 12px; 
	line-height: 12px; 
	padding: 6px; 
	border-radius: 50px; 
	background-color: black; 
	box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
	border: 2px solid grey;
	display: inline-block;
}
.attack-buttons:hover {
	background: red; 
}
.attack-buttons:active {
	background: grey;
}

.buttons {
	font-family: 'Press Start 2P', cursive;
	color: rgb(255, 255, 255);
	font-size: 12px; 
	line-height: 12px; 
	padding: 6px; 
	border-radius: 50px; 
	background-color: black; 
	box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
	border: 2px solid grey;
	display: inline-block;
	text-align: center;
}

.buttons:hover {
	background: red; 
}

.buttons:active {
	background: grey; 
}

.charNames {
	font-family: 'Press Start 2P', cursive;
	font-size: 22px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.radio {
	display: inline;
}

.playOnePic {
	height: 45%;
	width: 45%;
}

.playTwoPic {
	height: 45%;
	width: 45%;
}

#gameOver {
	font-family: 'Press Start 2P', cursive;
	font-size: 22px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black
}

#gameOver2 {
	font-family: 'Press Start 2P', cursive;
	font-size: 22px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black
}

#attacking {
	font-family: 'Press Start 2P', cursive;
	font-size: 22px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black
}

#ultiAttacking {
	font-family: 'Press Start 2P', cursive;
	font-size: 22px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black
}

#healingPlayer {
	font-family: 'Press Start 2P', cursive;
	font-size: 22px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black
}











