html {
	background: url(http://3.bp.blogspot.com/-ntgY5VZzkp4/T8-aTXG_kzI/AAAAAAAAAHI/kuzWUHH0KDI/s1600/Level+one.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
h1 {
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 40px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;

}

h2 {
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 40px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;

}

/*.charactersSection {
	display: flex;
}*/

/*.characters1 {*/
	/*display: inline-block;*/
	/*justify-content: space-between;*/
	/*width: 1100px;*/
	/*flex-wrap: wrap;*/
	/*justify-content: space-between;*/
/*}*/

#firstCharacter {
	display: inline-block;
	margin-bottom: 3%;
	margin-left: 23%;
}

#firstCharacter img{
	display: block;
}

#secondCharacter {
	display: inline-block;
	margin-bottom: 3%;
	margin-right: 8%;
	margin-left: 8%;
}

#secondCharacter img{
	display: block;
}

#thirdCharacter {
	display: inline-block;
	margin-bottom: 3%;
	margin-left: 1%;
	margin-right: 20%;
}

#thirdCharacter img{
	display: block;
}

#fourthCharacter {
	display: inline-block;
	margin-top: 3%;
	margin-left: 23%
}

#fourthCharacter img{
	display: block;
}

#fifthCharacter {
	display: inline-block;
	margin-top: 3%;
	margin-right: 8%;
	margin-left: 8%;
}

#fifthCharacter img{
	display: block;
}

#sixthCharacter {
	display: inline-block;
	margin-top: 3%;
	margin-left: 1%;
	margin-right: 15%;
}

#sixthCharacter img{
	display: block;
}




.characters2 {
	display: block;
	/*flex-wrap: wrap;
	/*justify-content: space-between;*/
	/*width: 1100px;*/
}

.forms {
	display: flex;
	justify-content: center;

}

.playerNames {
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;

}

#player2Name {
	text-align: right;
	margin-right: 150px;
}

#buttonsContainer {
	display: inline-block;
	justify-content: space-between;
}
#buttonsContainer2 {
	display: inline-block;
	justify-content: space-between;
	margin-left: 975px;

}

.inputButtons {
    background-color: lightgrey;
    font-family: 'Press Start 2P', cursive;
    margin: 3px;
    padding: 6px;
}

.submit-button {
	font-family: 'Press Start 2P', cursive;
	background-color: black;
	color: white;
	margin: 3px;
	padding: 6px;
}

.attack-buttons {
	font-family: 'Press Start 2P', cursive;
	color: rgb(255, 255, 255);
	font-size: 12px; 
	line-height: 12px; 
	padding: 6px; 
	border-radius: 50px; 
	background-color: black; 
	box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
	border: 2px solid grey;
	display: inline-block;
}
.attack-buttons:hover {
	background: red; 
}
.attack-buttons:active {
	background: grey;
}

.buttons {
	font-family: 'Press Start 2P', cursive;
	color: rgb(255, 255, 255);
	font-size: 12px; 
	line-height: 12px; 
	padding: 6px; 
	border-radius: 50px; 
	background-color: black; 
	box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
	border: 2px solid grey;
	display: inline-block;
	text-align: center;
}

.buttons:hover {
	background: red; 
}

.buttons:active {
	background: grey; 
}

/*#devo {
	height: 70%;
	width: 65%;
}
#fayde {
	height: 70%;
	width: 65%;

}
#glac {
	height: 70%;
	width: 65%;

}
#pyro {
	height: 70%;
	width: 65%;
}
#soul {
	height: 70%;
	width: 65%;
}
#swift {
	height: 70%;
	width: 65%;
}*/

.charNames {
	font-family: 'Press Start 2P', cursive;
	font-size: 22px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.radio {
	display: inline;
}

.playOnePic {
	height: 350px;
	width: 350px;
}

.playTwoPic {
	height: 350px;
	width: 350px;
}

#gameOver {
	font-family: 'Press Start 2P', cursive;
	font-size: 22px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black
}

#gameOver2 {
	font-family: 'Press Start 2P', cursive;
	font-size: 22px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black
}

#attacking {
	font-family: 'Press Start 2P', cursive;
	font-size: 22px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black
}

#ultiAttacking {
	font-family: 'Press Start 2P', cursive;
	font-size: 22px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black
}

#healingPlayer {
	font-family: 'Press Start 2P', cursive;
	font-size: 22px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black
}


.charPics {
	width: 100px;

}










